@font-face {
    font-family: "title font";
    src: url('fonts/Gentleman on the Rainbow.ttf') 
}

h1{
    font-family: title font;
    font-size: 200px;
}

h3{
    font-family: title font;
    font-size: 50px;
}

a:link{
    color: pink;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: orange;
    
}


tbody{
    font-style: italic;
}


