@font-face{
    font-family: "title font";
    src: url("fonts/ActoniaHand_PERSONAL.ttf");
}

@font-face{
    font-family: "footer font";
    src: url("fonts/Gentleman on the Rainbow.ttf");
}
h1{
    text-align: center;
    font-family: title font;
}

footer {
    text-align: center;
    font-family: footer font;
    font-size: 30px
}

a:hover{
    font-weight: bold;
}

a:active{
    text-decoration: none;
}

a:visited{
    color: red;
}

.carousel-inner{
    position: relative;
    }
.carousel-caption{
    color: black;
    position: absolute;
    top: auto;
    width: 1005;
    }
